$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  background-color: #2f0c69;
  color: white;
  font-family: 'Hind', sans-serif;
}

h1 {
  text-align: center;
  margin: 50px 20px;
}

.box {
  border: 2px solid #fff;
  border-width: thin;
  height: 325px;
}

button {
  color: green;
  background-color: #f8b0a0;
  font-family: 'Shadows Into Light', cursive;
  font-size: 24px;
}

input {
  color: black;
}

main {
  float: none;
}

.container {
  border: none;
}

.board {
  position: absolute;
}

.image {
  width: 50px;
  height: 50px;
}

.row-article {
  border: none;
  margin: 1px;
}

.clearfix {
  border: none;
}

.submit-form {
  font-size: 15px;
}

.scorescount {
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
  text-align: center;
  color: yellow;
}
