$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  background-color: #2f0c69;
  color: white;
}

h1 {
  text-align: center;
  margin: 50px 20px;
}

.box {
  border: 2px solid #fff;
  border-width: thin;
  height: 350px;
}

button {
  color: green;
  background-color: #f8b0a0;
}

input {
  color: black;
}

main {
  float: none;
}

.container {
  border: none;
}

.board {
  position: absolute;
}

.image {
  width: 50px;
  height: 50px;
}

.row-article {
  border: none;
  margin: 1px;
}

.clearfix {
  border: none;
}

.submit-form {
  font-size: 15px;
}
